  <h2 id="page-title">My Posts</h2>
<div>
  {{#if posts.length}}
    {{#each posts as |post|}}
      <div class="card w-75 mb-3 mx-auto border-0">
        <div class="card-body">
          <h5 id="post-title"><a href="/post/{{post.id}}">{{post.title}}</a></h5>
          <p class="card-text">{{post.contents}}</p>
        </div>
      </div>
    {{/each}}
  {{else}}
    <h3 id="page-contents">You do not have any posts at this time.</h3>
  {{/if}}
  <h2 id="page-title">Add a New Post</h2>
  <form class="form post-form w-75 col-md-12 mx-auto">
    <div class="form-group ">
      <label for="title">Post Title:</label>
      <input class="form-input" type="text" id="title" />
    </div>
    <div class="form-group">
      <label for="contents">Post Content:</label>
      <input class="form-input" type="textarea" id="contents" />
    </div>
    <div class="form-group d-grid gap-2 d-md-flex justify-content-md-end">
      <button id="add-post-btn" class="btn" type="submit">Add Post</button>
    </div>
  </form>
  <script src="/js/dashboardAddPost.js"></script>
</div>
